<div class="wrapper">
  <div class="container">
    <div class="box-profile-header text-center">
      <%= cl_image_tag(@user.photo.url(:bright_face), class: "avatar-large") %>
      <% if @user == current_user %>
        <div class="photo-form">
          <%= simple_form_for(@user) do |f| %>
            <%= f.input :photo, label: false, class: "form-control" %>
            <%= f.button :submit, "Update Photo", class: "btn btn-success"  %>
          <% end %>
        </div>
      <% end %>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h4><%= @user.community_level %> | <%= @user.ability %></h4>
        <% if @user == current_user %>

            <%= simple_form_for(@user) do |f| %>
              <%= f.input :ability, label: false, class: "form-control" %>
              <%= f.button :submit, "Update Ability", class: "btn btn-success"  %>
            <% end %>

        <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="box-profile-content">
          <h3 class="text-center">About Me</h3>
          <%= render 'users/bio', user: @user  %>
          <%= render 'users/form', user: @user  %>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6">
        <div class="box-profile-content">
          <% faves = ["Cotswold Way", "Snowdonia", "Lake District", "Hadrians Wall"] %>
          <h3 class="text-center">My Favourite Hikes</h3>
            <ul>
              <% faves.each do |fave| %>
                <li><%= fave %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="reviews-container">
          <h3><%= @user.first_name %>'s Reviews</h3>
          <% 4.times do %>

              <div class="review-box">
                <h4>Route Name | Rating</h4>
                  <%= @user.bio %>
                  <a href="#" class="review-link"></a>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<script>

  <% if @user == current_user %>
    const bioText = document.getElementById("bio-text");
    const inputField = document.getElementById("formTarget")

    bioText.addEventListener("click", (event) => {
      console.log(event);
      event.currentTarget.classList.toggle('hidden');
      inputField.classList.toggle('hidden');
    });

    const form = document.getElementById("bio-form");

    form.addEventListener("submit", () => {
      bioText.classList.toggle("hidden");
      inputField.classList.toggle("hidden");
      console.log("just submitted");
    })
  <% end %>

</script>

