<div class="flexbox-container">
  <div id="profile-sidebar">
    <div class="avatar-container">
      <%= cl_image_tag(@user.photo.url(:bright_face), class: "avatar-large") %>
      <% if @user == current_user %>
        <i id="edit-profile-pic" class="far fa-edit"></i>
      <% end %>
    </div>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h5><%= @user.community_level %></h5>
    <h5 id="user-ability-text">
      <%= @user.ability %>
      <% if @user == current_user %>
        <i id="edit-ability-icon" class="far fa-edit"></i>
      <% end %>
    </h5>
    <% if @user == current_user %>
      <div id="user-ability-form" class="hidden">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :ability, label: false, class: "form-control" %>
          <%= f.button :submit, "Update Ability", class: "btn btn-success"  %>
          <i id="cancel-ability-update-button" class="far fa-times-circle fa-lg edit-button hidden"></i>
        <% end %>
      </div>
    <% end %>
    <% if @user == current_user %>
      <div class="photo-form">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :photo, label: false, class: "form-control" %>
          <%= f.button :submit, "Update Photo", class: "btn btn-success"  %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="profile-container">
    <div class="row profile-content-container">
      <div class="col-xs-12">
        <div class="box-profile-content">
          <h3 class="text-center">
            About <%= @user.first_name %>
              <% if @user == current_user %>
                <i id="edit-bio" class="far fa-edit"></i>
              <% end %>
          </h3>
          <%= render 'users/bio', user: @user  %>
          <%= render 'users/form', user: @user  %>
        </div>
      </div>
    </div>
    <div class="row profile-content-container">
      <div class="col-xs-12">
        <div class="box-profile-content">
          <h3 class="text-center"><%= @user.first_name %>'s Created Routes</h3>
          <% if @user.routes.any? %>
            <ul>
              <% @user.routes.each do |route| %>
              <li><%= route.name %></li>
              <% end %>
            </ul>
          <% else %>
            <% if @user == current_user %>
              <p>You havent created any routes yet</p>
            <% else %>
              <p><%= @user.first_name %> has not created any routes yet.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row profile-content-container">
      <div class="col-xs-12">
        <div class="box-profile-content reviews">
          <h3 class="text-center"><%= @user.first_name %>'s Reviews</h3>
          <% reviews = @user.reviews.reverse %>
          <% if @user.reviews.any? %>
            <% reviews.each do |review| %>
              <div class="review-box">
                <h4> <%= review.route.name %> |
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                    <% end %>
                    <% (5-review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </h4>
                <p><%= review.content %></p>
                <%= link_to "", route_path(review.route) %>
              </div>
            <% end %>
          <% else %>
            <% if @user == current_user %>
              <p>No reviews yet. Review hikes you've been on! :)</p>
            <% else %>
              <p><%= @user.first_name %> has not reviewed any routes yet.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  <% if @user == current_user %>
    const bioText = document.getElementById("bio-text");
    const inputField = document.getElementById("formTarget");
    const editBioIcon = document.getElementById("edit-bio");
    const cancelBioUpdateButton = document.getElementById("cancel-bio-update");
    const userAbilityForm = document.getElementById("user-ability-form");
    const userAbilityText = document.getElementById("user-ability-text");
    const editAbilityIcon = document.getElementById("edit-ability-icon");
    const cancelAbilityUpdateButton = document.getElementById("cancel-ability-update-button");

    editBioIcon.addEventListener("click", (event) => {
      console.log(event);
      bioText.classList.toggle('hidden');
      inputField.classList.toggle('hidden');
      cancelBioUpdateButton.classList.toggle('hidden');
    });

    // bioText.addEventListener("click", (event) => {
    //   console.log(event);
    //   event.currentTarget.classList.toggle('hidden');
    //   inputField.classList.toggle('hidden');
    // });

    const form = document.getElementById("bio-form");

    form.addEventListener("submit", () => {
      bioText.classList.toggle("hidden");
      inputField.classList.toggle("hidden");
      cancelBioUpdateButton.classList.toggle("hidden");
      console.log("just submitted");
    });

    cancelBioUpdateButton.addEventListener("click", (event) => {
      cancelBioUpdateButton.classList.toggle("hidden");
      bioText.classList.toggle("hidden");
      inputField.classList.toggle("hidden");
    });

    editAbilityIcon.addEventListener("click", (e) => {
      e.currentTarget.classList.toggle('hidden');
      userAbilityText.classList.toggle('hidden');
      userAbilityForm.classList.toggle('hidden');
      cancelAbilityUpdateButton.classList.toggle('hidden');
    });

    userAbilityForm.addEventListener("submit", (e) => {
      userAbilityForm.classList.toggle('hidden');
      userAbilityText.classList.toggle('hidden');
      editAbilityIcon.classList.toggle('hidden');
      cancelAbilityUpdateButton.classList.toggle('hidden');
    });

    cancelAbilityUpdateButton.addEventListener("click", (e) => {
      e.currentTarget.classList.toggle('hidden');
      userAbilityForm.classList.toggle('hidden');
      userAbilityText.classList.toggle('hidden');
      editAbilityIcon.classList.toggle('hidden');
    });

  <% end %>

</script>

