<div class="navbar-oscapes">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-oscapes-brand" do %>
    <%= image_tag "logo_white.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-oscapes-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Browse Routes", routes_path, class: "navbar-oscapes-item navbar-oscapes-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-oscapes-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-oscapes-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-oscapes-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fas fa-bookmark"></i> <%= t(".dashboard", default: "Bookmarks") %>
              <% end %>
            </li>
            <li>
              <%= link_to new_route_path do %>
                <i class="fas fa-plus"></i>  <%= t(".new", default: "Create route") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-oscapes-item navbar-oscapes-link" %>
      <%= link_to "Browse Hikes", routes_path, class: "navbar-oscapes-item navbar-oscapes-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-oscapes-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <% if user_signed_in? %>
        <ul class="dropdown-menu dropdown-menu-right navbar-oscapes-dropdown-menu">
          <li>
            <%= link_to routes_path do  %>
              <i class="far fa-map"></i> <%= t(".sign_in", default: "Browse Routes") %>
            <% end %>
          </li>
         <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to dashboard_path do %>
              <i class="fas fa-bookmark"></i> <%= t(".dashboard", default: "Bookmarks") %>
            <% end %>
          </li>
          <li>
            <%= link_to new_route_path do %>
              <i class="fas fa-plus"></i>  <%= t(".new", default: "Create route") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="dropdown-menu dropdown-menu-right navbar-oscapes-dropdown-menu">
          <li>
          <%= link_to new_user_session_path do  %>
            <i class="fas fa-sign-in-alt"></i> <%= t(".sign_in", default: "Login") %>
          <% end %>
          </li>
          <li>
            <%= link_to routes_path do  %>
              <i class="far fa-map"></i> <%= t(".sign_in", default: "Browse Routes") %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

