<div class='show-sidebar'>
  <div class="heading pad2">
    <h4>Points of Interest</h4>
  </div>
  <div id="listings" class="listings">
    <% i = 0 %>
    <% @interest_points.each do |interest_point| %>
      <div id='listing-<%= i %>' class='listing' data-position='<%= i %>'>
        <div class="listing-info point-link listing-info-hover" data-position="<%= i %>">
          <div class="route-name">
            <h4><%= interest_point.title %></h4>
          </div>
          <% i += 1 %>
          <div class="poi-description">
            <p><%= interest_point.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
