<div class="container full-height" id="new">
  <p></p>
  <div id="route-form">
  <%= simple_form_for @route, remote: true do |f| %>
  <%= f.error_notification %>
    <%= f.input :name, required: true %>
    <%= f.input :description, required: true %>
    <%= f.file_field :upload, required: true %>
    <%= f.button :submit, id: "Create" %>
  <% end %>
  </div>
</div>

<div class="container full-height" id="spinning-cube">
  <div id="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <p>Creating your route...</p>
</div>

<script>
  window.onload = function() {
   document.getElementById("spinning-cube").hidden = true;
   console.log("hi");
  };
  create = document.getElementById("route-form");
  console.log(create);
  create.addEventListener("submit", function() {
    document.getElementById("new").hidden = true;
    document.getElementById("spinning-cube").hidden = false;
  });
</script>
