<div class="container full-height" id="new">
  <p></p>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div id="route-form">
        <h3>Create your route</h3>
        <%= simple_form_for @route, remote: true do |f| %>
        <%= f.error_notification %>
          <%= f.input :name, required: true %>
          <%= f.input :description, required: true %>
          <h4>Add your GPX file for the route</h4>
          <%= f.file_field :upload, required: true %>
          <%= f.button :submit, id: "Create", class: "btn btn-success margin" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container full-height" id="spinning-cube">
  <div id="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <p>Creating your route...</p>
</div>

<script>
  window.onload = function() {
   document.getElementById("spinning-cube").hidden = true;
   console.log("hi");
  };
  create = document.getElementById("route-form");
  console.log(create);
  create.addEventListener("submit", function() {
    document.getElementById("new").hidden = true;
    document.getElementById("spinning-cube").hidden = false;
  });
</script>
