<div class="container full-height">
  <p></p>
  <%= simple_form_for @route do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.file_field :upload %>
    <%= f.submit %>
  <% end %>
</div>
