<!-- Placeholder image - not added to model at the moment -->

<!-- <div class="hero-image" style="background-image: url('https://images.unsplash.com/photo-1515523592004-96338c887fb4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef98762b97ad1e860eb9a3cc937492d6&auto=format&fit=crop&w=1050&q=80')"> -->
<div class="hero-image" style="background-image: url('<%= @route.hero_image %>')">
  <h1><%= @route.name %></h1>
  <%= link_to route_favourites_path(@route), method: :post do %>
    <i class="fa fa-bookmark"></i>
  <% end %>
  <%= link_to route_favourites_path(@route), method: :post do %>
    <i class="fa fa-share"></i>
  <% end %>
</div>

<div class="container">
  <div class="route-info-desc">
    <p><%= @route.description %></p>
  </div>

  <div class="route-info">
    <div class="route-info-item">
      <h4>Difficulty</h4>
      <%= image_tag "hike_level_#{@difficulty}.svg" %>
    </div>
    <div class="route-info-item">
      <h4>Distance</h4>
      <p id="distance"></p>
    </div>
    <div class="route-info-item">
      <h4>Ascent</h4>
      <p><%= @route.ascent  %></p>
    </div>
    <div class="route-info-item">
      <h4>Duration</h4>
      <p><%= @route.duration %></p>
    </div>
  </div>

<div class="image-gallery">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag image %>
      </div>
    <% end %>
  </div>
</div>

<hr>

<!--   Need to update links to save and share routes -->
  <% if @route.coordinates.start_with?("[[[") %>
    <%= render 'multilinestring' %>
  <% else %>
    <%= render 'linestring' %>
  <% end %>

  <div class="route-reviews-container">
  <h3><span id="review-count"><%= pluralize @route.reviews.size, "Review" %></span> (put average rating here)</h3>
    <% if @route.reviews.blank?  %>
      <p id="review-cta">Be the pioneering reviewer for <%= @route.name %>!</p>
    <% end %>
  <%= render 'reviews/form',route: @route, review: @review %>
  <div id="reviews">
      <% reviews = @route.reviews.reverse %>
      <% reviews.each do |review| %>
        <%= render 'reviews/show', review: review  %>
      <% end %>
  </div>
</div>
</div>
