<!-- Placeholder image - not added to model at the moment -->

<!-- <div class="hero-image" style="background-image: url('https://images.unsplash.com/photo-1515523592004-96338c887fb4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef98762b97ad1e860eb9a3cc937492d6&auto=format&fit=crop&w=1050&q=80')"> -->
<div class="hero-image" style="background-image: url('<%= @route.hero_image %>')">
  <h1><%= @route.name %></h1>
  <%= link_to route_favourites_path(@route), method: :post do %>
    <i class="fa fa-bookmark"></i>
  <% end %>
  <%= link_to route_favourites_path(@route), method: :post do %>
    <i class="fa fa-share"></i>
  <% end %>
</div>

<div class="container">
  <div class="route-info-desc">
    <p><%= @route.description %></p>
  </div>

  <div class="route-info">
    <div class="route-info-item">
      <h4>Difficulty</h4>
      <%= image_tag "hike_level_#{@difficulty}.svg" %>
    </div>
    <div class="route-info-item">
      <h4>Duration</h4>
      <p><%= @route.duration %></p>
    </div>
    <div class="route-info-item">
      <h4>Ascent</h4>
      <p><%= @route.ascent  %></p>
    </div>
    <div class="route-info-item">
      <h4>Duration</h4>
      <p><%= @route.duration %></p>
    </div>
  </div>

<div class="image-gallery">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag image %>
      </div>
    <% end %>
  </div>
</div>


<!--   Need to update links to save and share routes -->

  <div class="map">
    MAP INFROMATION - AND POI AND HOTELS INFO DISPLAYED ON A MAP
  </div>

  <div id='map'></div>

  <h3><span id="review-count"><%= pluralize @route.reviews.size, "Review" %></span> (put average rating here)</h3>
  <%= render 'reviews/form',route: @route, review: @review %>
  <div id="reviews">
    <% if @route.reviews.blank?  %>
      <p>Be the pioneering reviewer for <%= @route.name %>!</p>
    <% else %>
      <% reviews = @route.reviews.reverse %>
      <% reviews.each do |review| %>
        <%= render 'reviews/show', review: review  %>
      <% end %>
    <% end %>
  </div>

  <script>

    var geojson = {
    "type": "FeatureCollection",
    "features": [{
        "type": "Feature",
        "geometry": {
            "type": "LineString",
            "properties": {},
            "coordinates": <%= @coordinates %>
            }
        }]
    };

    // Loading the map
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXBodWdoZXMiLCJhIjoiY2l6ZHgzaDdqMDA1MzJxa3lqeWF1MG55NSJ9.AhGg6Tqppzg2eurwaNl75w';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/outdoors-v10',
      center: <%= @center %>,
      zoom: 10
    });

    // Navigation controls
    map.addControl(new mapboxgl.NavigationControl());

    // Loading the route on the map
    map.on('load', function () {

      map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
            "type": "geojson",
            "data": geojson
        },
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "#1a936f",
            "line-width": 8
        }
      });

      // Geographic coordinates of the LineString
      var coordinates = geojson.features[0].geometry.coordinates;

      // Pass the first coordinates in the LineString to `lngLatBounds` &
      // wrap each coordinate pair in `extend` to include them in the bounds
      // result. A variation of this technique could be applied to zooming
      // to the bounds of multiple Points or Polygon geomteries - it just
      // requires wrapping all the coordinates with the extend method.
      var bounds = coordinates.reduce(function(bounds, coord) {
          return bounds.extend(coord);
      }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

      map.fitBounds(bounds, {
          padding: 40
      });
    });
  </script>
</div>

